<div id="categories">
	<%= link_to_unless_current "Most Recent", images_path %> |
	<%= link_to_unless_current "Top Votes", :controller => :image, :action => :votes %>
</div>
<% @images.each do |image| %>
    <div id='image_post'>
      <div id='voting_layout' class="halign">
          <% if image.upvote_exists(current_user) %>
              <%= image_tag("up_voted.png") %>
                <br>  &nbsp;  <font size="5"> <%= image.upscore + image.downscore %> </font>  <br>
                <%= image_tag("down_arrow.png") %>
          <% elsif image.downvote_exists(current_user) %>
                <%= image_tag("up_arrow.png") %>
                <br>  &nbsp;  <font size="5"> <%= image.upscore + image.downscore %> </font>  <br>
                <%= image_tag("down_voted.png") %>
          <% else %>
                <%= link_to image_tag("up_arrow.png", :mouseover => "up_voted.png"), {:action => :upvote, :id => image.id} %>
                <br>  &nbsp;  <font size="5"> <%= image.upscore + image.downscore %> </font>  <br>
                <%= link_to image_tag("down_arrow.png", :mouseover => "down_voted.png"), {:action => :downvote, :id => image.id} %>
          <% end %>
            <div id='flagging_layout'>
            <br> <font size="2"><%=  link_to "Report",{:action => :flagPicture, :id => image.id}  %> </font>   <br>
            </div>
         </div>
      </div>
      <div id='image_post' class="halign">

	<span id='image_top'>
		<span id='image_username'>
			<%= profile_link(image.user) %>
		</span>
		<span id='image_caption'>
			<%= image.caption %>
		</span>
	</span>
	<div id='image_square' class='image_resizer'>
		<%= link_to(image_tag(image.image.url(:large)), image.image.url ) unless image.image.nil? %>
      <span id='image_time'>
      		Posted <%= time_ago_in_words(image.created_at) %> ago.
      	</span>
	</div>
    <div id="comments">
      <% if !current_user.nil? %>
      <div id='new_comment'>
        <%=  form_for @comment, :url => {:action => :new_comment} do |f| %>
            <%= f.text_field :comment_text %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.hidden_field :image_id, :value => image.id %>
            <%= f.submit "Comment" %>
        <% end %>

      </div>
       <% end %>
        <%  image.recent_comments.each do |comment| %>
        <div id='comment'>

            <div id='comment_top'><span id='comment_username'><%=   profile_link(comment.user) %></span><span id='comment_time'><%=  time_ago_in_words(comment.created_at) %></span></div>

            <div id='comment_text'><%=  comment.comment_text %></div>
        </div>
        <% end %>
    </div>
</div>
<br>
<% end %>

