<div id="profile_content">
	<div id="profile_left">
		<div id="profile_likes">
			<h2>Recently Liked Images</h2>
			<% @images.each do |image| %>
				<%= link_to(image_tag(image.image.url(:thumb)), image.image.url ) %>
			<% end %>
		</div>
	</div>
	<div id="profile_right">
		<span id="profile_username"><%= @user.name %></span>
		<div id="profile_user">
		</div>
	</div>
</div>